body{
   background-image: url(background.jpg);
 
}
.container{
    max-width: 500px;
    margin: auto;
    
    padding: 10px;
}


.navigation_br{
    list-style: none;
    text-decoration:none;
    
    
}
.element_nav{
    float: left;
    padding: 3vh;
    position: relative;
    position: sticky;
   
}
a{
    text-decoration: none;
    color:gray;
    display: block;

}
a:active{
    color:white;
}
a:hover{
   color:white;

}
