body{
    background-image: url('assets/images/bg.jpg');
    background-repeat: no-repeat;
     background-attachment: fixed;  
    background-size: cover;
  }
.card {
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
transition: 0.3s;
width:467px;
border-radius: 5px;

}

.card:hover {
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

img {
border-radius: 5px 5px 0 0;

}

.container {
padding: 2px 16px;
}

.container{
    max-width: 500px;
    margin: auto;
    
    padding: 10px;
}


.navigation_br{
    list-style: none;
    text-decoration:none;
    
    
}
.element_nav{
    float: left;
    padding: 3vh;
    position: relative;
    position: sticky;
   
}
a{
    text-decoration: none;
    color:gray;
    display: block;

}
a:active{
    color:white;
}
a:hover{
   color:white;

}
